@charset "UTF-8";

header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    top: 0;
    width: 100%;
    color: white;
    z-index: 1;
}

header nav {
    display: flex;
    gap: 30px;
    padding-right: 40px;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: large;
    font-weight: bold;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
}