@charset "UTF-8";
/* global site styles */
:root {
    --accent-color: #4CAF50;
    --text-color: #FAF9F6;
    --bg-color: #212121;
}
body {
	padding-top: 5rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Playfair Display', serif;
	margin: 0;

	background-image: url('../img/main-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

main {
    padding: 1rem;
}

a { color: var(--text-color); }
