@charset "UTF-8";
/* global site styles */
body {
    padding-top: 5rem;
    background-color: #212121;
    color: #FAF9F6;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

main {
    padding: 1rem;
}

a { color: #FAF9F6; }
