@charset "UTF-8";
@font-face {
    font-family: 'mogihaPen';
    src: url('../style/mogihaPen.otf') format('opentype');
}

/* global site styles */
:root {
	--accent-color: #4CAF50;
	--text-color: #FAF9F6;
	--bg-color: #212121;
}

body {
	padding-top: 5rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	font-family: 'mogihaPen', serif;

	text-align: center;

	background-image: url('../img/main-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

main {
	padding: 1rem;
	margin: 0 auto;

}

a {
	color: var(--text-color);
}