@charset "UTF-8";

/* style.css */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

#main-banner {
	position: relative;
	height: 100vh;
	width: 100vw; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	padding: 2rem;
	overflow: hidden;
}

#main-banner h2 {
	font-size: clamp(1.5rem, 5vw, 3rem);
	margin-bottom: 1rem;
}

#main-banner button {
	position: relative;
	z-index: 1;
	padding: 1rem 2rem;
	font-size: clamp(1rem, 2.5vw, 1.5rem);
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	border: none;
	cursor: pointer;
}


header {
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	width: 100%;
	color: white;
	z-index: 1;
}
header nav{
	display: flex;
	gap: 30px;
	padding-right: 40px;
}
header a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: large;
	font-weight: bold;
}